@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #7a86c3;
    display: flex;
    height: 100vh;
    width: 40%;
    margin: auto;
    justify-content: space-around;
}

button{
    margin: auto;
    background: #707dbb;
    color: white;
    display: block;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    border: .1em solid #41486D;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    box-shadow: 0 0 5px #41486D;
    outline: 0;
    font-size: 15px;
    text-align: center;
}

button:hover{
    border: .2em solid #616BA2;
    box-shadow: 0px 3px 1px #7680c0  inset,
                0 15px 25px #6973b0 inset;
}

button:focus{
    font-size: 0px;
    line-height: 0;
    text-indent: -1000em;
    box-shadow: 0 0 0;
}

button:focus:before{
    font-size: 14px;
    text-indent: 0%;
    display: block;
    line-height: 40px;
    content: "Clicked";
    border: .4em solid #6849E3;
    color: #6849E3;
    position: relative;
    width:auto;
    height: auto;
    border-radius: 50px;
    background: #383E5E;
}